<a href="https://colab.research.google.com/github/ThisIsJorgeLima/DS-Unit-2-Linear-Models/blob/master/module3-ridge-regression/JAL_Dec_4__assignment_regression_classification_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [x] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [x] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [x] Do one-hot encoding of categorical features.
- [x] Do feature selection with `SelectKBest`.
- [ ] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [x] Get mean absolute error for the test set.
- [x] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [0]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [0]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

In [0]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import category_encoders as ce
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [292]:
df.head(2)

  BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
0       1        OTHER  ...          0  01/01/2019
1       1        OTHER  ...          0  01/01/2019

[2 rows x 21 columns]

In [293]:
df.tail(2)

      BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
23038       4        OTHER  ...    1100000  04/30/2019
23039       4        OTHER  ...     569202  04/30/2019

[2 rows x 21 columns]

In [294]:
df.shape

(23040, 21)

In [295]:
df.describe()

              BLOCK           LOT  ...  TAX_CLASS_AT_TIME_OF_SALE    SALE_PRICE
count  23040.000000  23040.000000  ...               23040.000000  2.304000e+04
mean    4459.116493    353.948481  ...                   1.624479  1.328133e+06
std     3713.269887    628.025255  ...                   0.803898  1.025394e+07
min        1.000000      1.000000  ...                   1.000000  0.000000e+00
25%     1341.000000     22.000000  ...                   1.000000  0.000000e+00
50%     3546.000000     49.000000  ...                   1.000000  4.550000e+05
75%     6673.750000    375.000000  ...                   2.000000  8.750000e+05
max    16350.000000   9057.000000  ...                   4.000000  8.500000e+08

[8 rows x 11 columns]

In [296]:
df.dtypes

BOROUGH                            object
NEIGHBORHOOD                       object
BUILDING_CLASS_CATEGORY            object
TAX_CLASS_AT_PRESENT               object
BLOCK                               int64
LOT                                 int64
EASE-MENT                         float64
BUILDING_CLASS_AT_PRESENT          object
ADDRESS                            object
APARTMENT_NUMBER                   object
ZIP_CODE                          float64
RESIDENTIAL_UNITS                 float64
COMMERCIAL_UNITS                  float64
TOTAL_UNITS                       float64
LAND_SQUARE_FEET                   object
GROSS_SQUARE_FEET                 float64
YEAR_BUILT                        float64
TAX_CLASS_AT_TIME_OF_SALE           int64
BUILDING_CLASS_AT_TIME_OF_SALE     object
SALE_PRICE                          int64
SALE_DATE                          object
dtype: object

In [297]:
df.isnull().sum()

BOROUGH                               0
NEIGHBORHOOD                          0
BUILDING_CLASS_CATEGORY               0
TAX_CLASS_AT_PRESENT                  1
BLOCK                                 0
LOT                                   0
EASE-MENT                         23040
BUILDING_CLASS_AT_PRESENT             1
ADDRESS                               0
APARTMENT_NUMBER                  17839
ZIP_CODE                              1
RESIDENTIAL_UNITS                     1
COMMERCIAL_UNITS                      1
TOTAL_UNITS                           1
LAND_SQUARE_FEET                     53
GROSS_SQUARE_FEET                     1
YEAR_BUILT                           35
TAX_CLASS_AT_TIME_OF_SALE             0
BUILDING_CLASS_AT_TIME_OF_SALE        0
SALE_PRICE                            0
SALE_DATE                             0
dtype: int64

In [298]:
df.describe().T

                             count          mean  ...        75%          max
BLOCK                      23040.0  4.459116e+03  ...    6673.75      16350.0
LOT                        23040.0  3.539485e+02  ...     375.00       9057.0
EASE-MENT                      0.0           NaN  ...        NaN          NaN
ZIP_CODE                   23039.0  1.079119e+04  ...   11360.00      11697.0
RESIDENTIAL_UNITS          23039.0  1.827423e+00  ...       2.00        750.0
COMMERCIAL_UNITS           23039.0  2.865142e-01  ...       0.00        570.0
TOTAL_UNITS                23039.0  2.320891e+00  ...       2.00        755.0
GROSS_SQUARE_FEET          23039.0  3.508555e+03  ...    2280.00    1303935.0
YEAR_BUILT                 23005.0  1.819672e+03  ...    1965.00       2019.0
TAX_CLASS_AT_TIME_OF_SALE  23040.0  1.624479e+00  ...       2.00          4.0
SALE_PRICE                 23040.0  1.328133e+06  ...  875000.00  850000000.0

[11 rows x 8 columns]

In [299]:
df.describe(exclude='number').T

                                count unique                      top   freq
BOROUGH                         23040      5                        4   7494
NEIGHBORHOOD                    23040     11                    OTHER  19117
BUILDING_CLASS_CATEGORY         23040     44  01 ONE FAMILY DWELLINGS   5061
TAX_CLASS_AT_PRESENT            23039     10                        1  11071
BUILDING_CLASS_AT_PRESENT       23039    146                       D4   3408
ADDRESS                         23040  22691        100 JEROME STREET      6
APARTMENT_NUMBER                 5201   1724                        4     99
LAND_SQUARE_FEET                22987   3652                        0   7500
BUILDING_CLASS_AT_TIME_OF_SALE  23040    147                       D4   3408
SALE_DATE                       23040    120               01/24/2019    480

In [0]:
df['SALE_DATE'] = pd.to_datetime(df['SALE_DATE'],infer_datetime_format=True)

In [301]:
df['SALE_DATE'].describe()

count                   23040
unique                    120
top       2019-01-24 00:00:00
freq                      480
first     2019-01-01 00:00:00
last      2019-04-30 00:00:00
Name: SALE_DATE, dtype: object

In [302]:
train.shape, test.shape

((2517, 20), (647, 20))

In [0]:
# EASE-MENT is full with NaNs; Lets drop it!
df.drop(labels='EASE-MENT', axis=1, inplace=True)

In [0]:
# Aparment Number's may through off our data; Lets drop that also:
df.drop('APARTMENT_NUMBER', axis=1, inplace=True)

In [305]:
# both EASE-MENT and APARTMENT_NUMBER in the clear:
for col in df.columns: 
    print(col)

BOROUGH
NEIGHBORHOOD
BUILDING_CLASS_CATEGORY
TAX_CLASS_AT_PRESENT
BLOCK
LOT
BUILDING_CLASS_AT_PRESENT
ADDRESS
ZIP_CODE
RESIDENTIAL_UNITS
COMMERCIAL_UNITS
TOTAL_UNITS
LAND_SQUARE_FEET
GROSS_SQUARE_FEET
YEAR_BUILT
TAX_CLASS_AT_TIME_OF_SALE
BUILDING_CLASS_AT_TIME_OF_SALE
SALE_PRICE
SALE_DATE

In [306]:
df.dtypes

BOROUGH                                   object
NEIGHBORHOOD                              object
BUILDING_CLASS_CATEGORY                   object
TAX_CLASS_AT_PRESENT                      object
BLOCK                                      int64
LOT                                        int64
BUILDING_CLASS_AT_PRESENT                 object
ADDRESS                                   object
ZIP_CODE                                 float64
RESIDENTIAL_UNITS                        float64
COMMERCIAL_UNITS                         float64
TOTAL_UNITS                              float64
LAND_SQUARE_FEET                          object
GROSS_SQUARE_FEET                        float64
YEAR_BUILT                               float64
TAX_CLASS_AT_TIME_OF_SALE                  int64
BUILDING_CLASS_AT_TIME_OF_SALE            object
SALE_PRICE                                 int64
SALE_DATE                         datetime64[ns]
dtype: object

In [0]:
col_float2_int = ['ZIP_CODE','RESIDENTIAL_UNITS','COMMERCIAL_UNITS','TOTAL_UNITS',
                  'GROSS_SQUARE_FEET','YEAR_BUILT']

In [0]:
# non-whole numbers
for col in col_float2_int:
  assert len(df[df[col] % 1 > 0]) == 0, f'{col}'
  df[col] = df[col].fillna(0).astype(int)

In [309]:
# Everthing is int:
df.dtypes

BOROUGH                                   object
NEIGHBORHOOD                              object
BUILDING_CLASS_CATEGORY                   object
TAX_CLASS_AT_PRESENT                      object
BLOCK                                      int64
LOT                                        int64
BUILDING_CLASS_AT_PRESENT                 object
ADDRESS                                   object
ZIP_CODE                                   int64
RESIDENTIAL_UNITS                          int64
COMMERCIAL_UNITS                           int64
TOTAL_UNITS                                int64
LAND_SQUARE_FEET                          object
GROSS_SQUARE_FEET                          int64
YEAR_BUILT                                 int64
TAX_CLASS_AT_TIME_OF_SALE                  int64
BUILDING_CLASS_AT_TIME_OF_SALE            object
SALE_PRICE                                 int64
SALE_DATE                         datetime64[ns]
dtype: object

## Use a subset of the data where BUILDING_CLASS_CATEGORY == '01 ONE FAMILY DWELLINGS' and the sale price was more than 100 thousand and less than 2 million.

In [310]:
train.describe(exclude='number').T.sort_values(by='unique')

                               count unique  ...      first       last
BUILDING_CLASS_CATEGORY         2517      1  ...        NaT        NaT
LAND_SQUARE_FEET                2517      1  ...        NaT        NaT
TAX_CLASS_AT_PRESENT            2517      2  ...        NaT        NaT
BOROUGH                         2517      5  ...        NaT        NaT
NEIGHBORHOOD                    2517      7  ...        NaT        NaT
BUILDING_CLASS_AT_TIME_OF_SALE  2517     11  ...        NaT        NaT
BUILDING_CLASS_AT_PRESENT       2517     13  ...        NaT        NaT
SALE_DATE                       2517     68  ... 2019-01-01 2019-03-30
ADDRESS                         2517   2507  ...        NaT        NaT

[9 rows x 6 columns]

In [311]:
# Let's select the numeric columns and drop

train_subset = train.select_dtypes('number').dropna(axis='columns')
test_subset = test.select_dtypes('number').dropna(axis='columns')
assert all(train_subset.columns == test_subset.columns)

target = 'SALE_PRICE'
features = train_subset.columns.drop(target)

X_train = train_subset[features]
y_train = train_subset[target]

X_test = test_subset[features]
y_test = test_subset[target]

X_train.shape, y_train.shape, X_test.shape, y_test.shape

((2517, 10), (2517,), (647, 10), (647,))

In [312]:
train.loc[(train['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS') 
          & (train['SALE_PRICE'] >= 100000)
          & (train['SALE_PRICE'] <= 2000000)].shape

(2517, 20)

In [313]:
test.loc[(test['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS') 
          & (test['SALE_PRICE'] >= 100000)
          & (test['SALE_PRICE'] <= 2000000)].shape

(647, 20)

In [314]:
BUILDINGS = (df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS')
SELL_PRICE = (df['SALE_PRICE']>= 100000) & (df['SALE_PRICE'] <= 2000000)
mask = BUILDINGS & SELL_PRICE

train = train[mask]
test = test[mask]
train.shape, test.shape

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

((2517, 20), (647, 20))

## Do train/test split. Use data from January â€” March 2019 to train. Use data from April 2019 to test.

In [0]:
# Going to try different methods to see which feels more natural and
# understanding to me.
# Doesn't hurt to test your work either way!

df['month'] = df['SALE_DATE'].dt.month

In [0]:
train_month = df[df['month'] < 4]
test_month = df[df['month'] >= 4]

In [317]:
train.shape,test.shape

((2517, 20), (647, 20))

In [318]:
# categorical features
train.describe(exclude='number').T.sort_values(by='unique')

                               count unique  ...      first       last
BUILDING_CLASS_CATEGORY         2517      1  ...        NaT        NaT
LAND_SQUARE_FEET                2517      1  ...        NaT        NaT
TAX_CLASS_AT_PRESENT            2517      2  ...        NaT        NaT
BOROUGH                         2517      5  ...        NaT        NaT
NEIGHBORHOOD                    2517      7  ...        NaT        NaT
BUILDING_CLASS_AT_TIME_OF_SALE  2517     11  ...        NaT        NaT
BUILDING_CLASS_AT_PRESENT       2517     13  ...        NaT        NaT
SALE_DATE                       2517     68  ... 2019-01-01 2019-03-30
ADDRESS                         2517   2507  ...        NaT        NaT

[9 rows x 6 columns]

In [320]:
train ['BOROUGH'].value_counts()

4    1209
5     664
3     401
2     242
1       1
Name: BOROUGH, dtype: int64

In [321]:
train.groupby('BOROUGH')['SALE_PRICE'].mean()

BOROUGH
1    739000.000000
2    473104.623967
3    773207.940150
4    646734.679901
5    535988.615964
Name: SALE_PRICE, dtype: float64

The other non-numeric columns have high cardinality. So let's exclude them from our features for now.

In [355]:
target = 'SALE_PRICE'
high_cardinality = ['SALE_DATE', 'ADDRESS']
features = train.columns.drop([target] + high_cardinality)
print(features)

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY',
       'TAX_CLASS_AT_PRESENT', 'BLOCK', 'LOT', 'BUILDING_CLASS_AT_PRESENT',
       'ZIP_CODE', 'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS',
       'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET', 'YEAR_BUILT',
       'TAX_CLASS_AT_TIME_OF_SALE', 'BUILDING_CLASS_AT_TIME_OF_SALE', 'month'],
      dtype='object')

In [0]:
X_train = train[features]
y_train = train[target]
X_test = test[features]
y_test = test[target]

In [357]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((2517, 17), (2517,), (647, 17), (647,))

In [328]:
X_train

       BOROUGH_3  BOROUGH_4  ...  BUILDING_CLASS_AT_TIME_OF_SALE_S0  month
44             1          0  ...                                  0      1
61             0          1  ...                                  0      1
78             0          0  ...                                  0      1
108            1          0  ...                                  0      1
111            1          0  ...                                  0      1
...          ...        ...  ...                                ...    ...
18129          0          0  ...                                  0      3
18130          0          0  ...                                  0      3
18132          0          0  ...                                  0      3
18134          0          0  ...                                  0      3
18147          0          1  ...                                  0      3

[2517 rows x 50 columns]

## Do one-hot encoding of categorical features.
- Use the **`fit_transform`** method on the **train** set
- Use the **`transform`** method on **validation / test** sets

In [364]:
# encoding:
import category_encoders as ce
encoder = ce.OneHotEncoder(use_cat_names=True)
X_train_encoder = encoder.fit_transform(X_train)
X_test_encoder = encoder.transform(X_test)

print(f'Encoded shapes = train: {X_train_encoder.shape}\ttest:{X_test_encoder.shape}')

Encoded shapes = train: (2517, 50)	test:(647, 50)

In [365]:
X_train

      BOROUGH NEIGHBORHOOD  ... BUILDING_CLASS_AT_TIME_OF_SALE month
44          3        OTHER  ...                             A9     1
61          4        OTHER  ...                             A1     1
78          2        OTHER  ...                             A1     1
108         3        OTHER  ...                             A1     1
111         3        OTHER  ...                             A5     1
...       ...          ...  ...                            ...   ...
18129       5        OTHER  ...                             A2     3
18130       5        OTHER  ...                             A5     3
18132       5        OTHER  ...                             A1     3
18134       5        OTHER  ...                             A2     3
18147       4        OTHER  ...                             A0     3

[2517 rows x 17 columns]

In [366]:
train.select_dtypes(include='number').describe().T

                            count           mean  ...       75%        max
BLOCK                      2517.0    6750.859754  ...    9879.0    16350.0
LOT                        2517.0      75.674215  ...      70.0     2720.0
ZIP_CODE                   2517.0   10993.891538  ...   11413.0    11697.0
RESIDENTIAL_UNITS          2517.0       0.987684  ...       1.0        1.0
COMMERCIAL_UNITS           2517.0       0.016289  ...       0.0        2.0
TOTAL_UNITS                2517.0       1.003973  ...       1.0        3.0
GROSS_SQUARE_FEET          2517.0    1473.500596  ...    1683.0     7875.0
YEAR_BUILT                 2517.0    1944.729837  ...    1960.0     2018.0
TAX_CLASS_AT_TIME_OF_SALE  2517.0       1.000000  ...       1.0        1.0
SALE_PRICE                 2517.0  621011.272149  ...  750000.0  2000000.0
month                      2517.0       1.940405  ...       3.0        3.0

[11 rows x 8 columns]

## Do feature selection with SelectKBest.

In [374]:
features = X_train.columns
n = len(features)
n

17

In [375]:
from math import factorial

def n_choose_k(n,k):
  return factorial(n)/(factorial(k)*factorial(n-k))

combinations = sum(n_choose_k(n,k) for k in range (1,n+1))
print(f'{combinations:,.0f}')

131,071

In [378]:
# Selected 10 features that best correlated with target
#(10 is our starting point plus all cats)

# REMEMBER!
# .fit_transform on the train set
# .transform on test set

selector = SelectKBest(score_func=f_regression, k=10)
X_train_selected = selector.fit_transform(X_train, y_train)
X_test_selected = selector.transform(X_test)
X_train_selected.shape, X_test_selected.shape

ValueError: ignored

## Fit a ridge regression model with multiple features. Use the normalize=True parameter

In [377]:
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.preprocessing import StandardScaler
#Remeber:
#.fit_transform on the train set
#.transform on test set

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test  = scaler.transform(X_test)

ValueError: ignored

## Get mean absolute error for the test set.

In [372]:
model = LinearRegression()
model.fit(X_train_selected, y_train)
y_pred = model.predict(X_test_selected)
mae = mean_absolute_error(y_test, y_pred)
print(f'Test MAE: ${mae:,.0f}')

Test MAE: $1,526,016